
.cari {
  background : #ececec!important;
  border-radius:15px;
  font-family : 'AvenirMedium';
  font-size : 15px;
}
input{
  background:none;
  border:none;
  width:80%;
  font-weight:400;
  color : #00011f;
  opacity:80%;
}
input:focus {
  outline: none;
}
.toggle{
  border: none!important;
}