.navbar{
    box-shadow: 0 0 10px #d9d9d9;
}
  h3{
    color:#1a1d73;
  }
  .col2-item{
    color:#1a1d73;
    font-size : 1.2em;
    font-weight:500;
    text-decoration:none;
  }
.Tag{
  width: fit-content;
}
.Nvabar{
  width: fit-content;
}
.col2-item:hover{
  color: #5053a2!important;
  font-weight: bold;
}
.cari {
  background : #d8d8f4!important;
  border-radius:15px;
  font-family : 'AvenirMedium';
  font-size : 15px;
}
input{
  background:none;
  border:none;
  width:80%;
  font-weight:400;
  color : #00011f;
  opacity:80%;
}
input:focus {
  outline: none;
}